<h3>{{viewTitle}}</h3>

<form action="/employee" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" value="{{employee.name}}">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" placeholder="price" value="{{employee.price}}">
    </div>
    <div class="form-group">
        <label>Id</label>
        <input type="text" class="form-control" name="id" placeholder="id" value="{{employee.id}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>